<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include("./layouts/head") %>
</head>

<body class="">
    <%- include("./layouts/nav") %>
        <h1>Welocome</h1>
        <p class="p-4 backgound-primary">hi</p>

        <%- include("./layouts/scripts") %>
</body>

</html>